In [3]:
import numpy as np
import pandas as pd

# Dataframe mit Dictionary erstellen

In [33]:
mydict = {
    "column1": [3, 4, 1],
    "column2": [11.3, 12.5, 9.4],
    "column3": ["AI", "DL", "Python"],   
}

In [34]:
df = pd.DataFrame(mydict)
df.head()

   column1  column2 column3
0        3     11.3      AI
1        4     12.5      DL
2        1      9.4  Python

# Dataframe mit Array erstellen

In [21]:
arr = np.array([[2, 3, 1], [9, 2, 10], [1, 1, 1]])

In [22]:
df = pd.DataFrame(arr, columns=["column1", "column2", "column3"])
df.head()

   column1  column2  column3
0        2        3        1
1        9        2       10
2        1        1        1

# Dataframe mit List erstellen

In [31]:
mylist = [[3, 11.3, "AI"], [4, 12.5, "DL"], [1, 9.4, "Python"]]

In [32]:
df = pd.DataFrame(mylist, columns=["column1", "column2", "column3"])
df.head()

   column1  column2 column3
0        3     11.3      AI
1        4     12.5      DL
2        1      9.4  Python