## Creating DataFrame

In [17]:
import pandas as pd

mydict = {
    "dev_id": ["001", "002", "003", "004"],
    "name": ["Thomas", "Andrew", "John", "Lothar"],
    "country": ["Germany", "United States", "Scotland", "Germany"],
}

df_devs = pd.DataFrame(mydict)
df_devs.head()

  dev_id    name        country
0    001  Thomas        Germany
1    002  Andrew  United States
2    003    John       Scotland
3    004  Lothar        Germany

## Creating Dummy Variables

In [16]:
df_devs_dummy = pd.get_dummies(df_devs, columns=['country'])
df_devs_dummy

  dev_id    name  country_Germany  country_Scotland  country_United States
0    001  Thomas                1                 0                      0
1    002  Andrew                0                 0                      1
2    003    John                0                 1                      0
3    004  Lothar                1                 0                      0