In [11]:
import pandas as pd
import numpy as np

In [12]:
mydict = {
    "column1": [3, 7, 7, 8, np.nan],
    "column2": [11.3, 12.5, 12.5, 0.77, 9.4],
    "column3": ["AI", "Python", "Python", np.nan, "AI"],
}

In [13]:
df = pd.DataFrame(mydict)
df

   column1  column2 column3
0      3.0    11.30      AI
1      7.0    12.50  Python
2      7.0    12.50  Python
3      8.0     0.77     NaN
4      NaN     9.40      AI

In [14]:
df_cleaned = df.drop_duplicates(keep='first')
df_cleaned

   column1  column2 column3
0      3.0    11.30      AI
1      7.0    12.50  Python
3      8.0     0.77     NaN
4      NaN     9.40      AI

In [15]:
df_cleaned = df.drop_duplicates(keep='last')
df_cleaned

   column1  column2 column3
0      3.0    11.30      AI
2      7.0    12.50  Python
3      8.0     0.77     NaN
4      NaN     9.40      AI

In [16]:
df_cleaned = df.drop_duplicates(keep='first', subset=['column3'])
df_cleaned

   column1  column2 column3
0      3.0    11.30      AI
1      7.0    12.50  Python
3      8.0     0.77     NaN