In [1]:

import pandas as pd
import numpy as np

In [2]:
mydict = {
    "column1": [3, 4, 7, 8,  1],
    "column2": [11.3, 12.5, 0.4, 0.77, 9.4],
    "column3": [np.nan, np.nan, "Python", np.nan, "AI"],   
}

In [3]:
df = pd.DataFrame(mydict)
df

   column1  column2 column3
0        3    11.30     NaN
1        4    12.50     NaN
2        7     0.40  Python
3        8     0.77     NaN
4        1     9.40      AI

In [7]:
df["column3"].count()

2

In [9]:
df["column3"].notna().sum()

2

In [12]:
df.count()

column1    5
column2    5
column3    2
dtype: int64

In [13]:
df.notna().sum()

column1    5
column2    5
column3    2
dtype: int64

In [14]:
df.isna().sum()

column1    0
column2    0
column3    3
dtype: int64

In [6]:
df_column3_not_null = df[df["column3"].notna()]
df_column3_not_null

   column1  column2 column3
2        7      0.4  Python
4        1      9.4      AI