In [1]:
import pandas as pd
import numpy as np

In [6]:
mydict = {
    "column1": [3, 7, 7, 8,  np.nan],
    "column2": [11.3, 12.5, 12.5, 0.77, 9.4],
    "column3": ["ML", "Python", "Python", np.nan, "AI"],   
}

In [7]:
df = pd.DataFrame(mydict)
df

   column1  column2 column3
0      3.0    11.30      ML
1      7.0    12.50  Python
2      7.0    12.50  Python
3      8.0     0.77     NaN
4      NaN     9.40      AI

In [9]:
df_duplicated = df[df.duplicated(keep=False)]
df_duplicated

   column1  column2 column3
1      7.0     12.5  Python
2      7.0     12.5  Python