In [2]:
import pandas as pd
import numpy as np

In [3]:
mydict = {
    "column 1": [3, 4, 1],
    "column 2": [11.3, 4.1, 9.4],
    "column 3": ["AI", "Python", "Machine Learning"]
}

In [4]:
df = pd.DataFrame(mydict)

df

   column 1  column 2          column 3
0         3      11.3                AI
1         4       4.1            Python
2         1       9.4  Machine Learning

In [5]:
df.iloc[0]

column 1       3
column 2    11.3
column 3      AI
Name: 0, dtype: object

In [6]:
df.loc[0]

column 1       3
column 2    11.3
column 3      AI
Name: 0, dtype: object

In [20]:
df.loc[1]

column 1         4
column 2       4.1
column 3    Python
Name: 1, dtype: object

In [16]:
df.iloc[:,0]

0    3
1    4
2    1
Name: column 1, dtype: int64

In [14]:
df.loc[:,"column 1"]

0    3
1    4
2    1
Name: column 1, dtype: int64

In [18]:
df.loc[:,"column 2"]

0    11.3
1     4.1
2     9.4
Name: column 2, dtype: float64

In [27]:
df.loc[:1, "column 2"]

0    11.3
1     4.1
Name: column 2, dtype: float64

In [28]:
df.iloc[:2,1]

0    11.3
1     4.1
Name: column 2, dtype: float64

In [18]:
df.iloc[:3, 1:]

   column 2          column 3
0      11.3                AI
1       4.1            Python
2       9.4  Machine Learning

In [16]:
df.iloc[1:, 1:]

   column 2          column 3
1       4.1            Python
2       9.4  Machine Learning

In [31]:
df.loc[1:, "column 2":]

   column 2          column 3
1       4.1            Python
2       9.4  Machine Learning