In [11]:
import pandas as pd
import numpy as np

In [16]:
mydict = {
    "column1": [3, np.nan, 7, 8,  np.nan],
    "column2": [11.3, 12.5, 0.4, 0.77, 9.4],
    "column3": [np.nan, np.nan, "Python", np.nan, "AI"],   
}

In [17]:
df = pd.DataFrame(mydict)
df

   column1  column2 column3
0      3.0    11.30     NaN
1      NaN    12.50     NaN
2      7.0     0.40  Python
3      8.0     0.77     NaN
4      NaN     9.40      AI

In [19]:
values = {'column1': 0, 'column3': 'No Value'}
df = df.fillna(value=values)
df

   column1  column2   column3
0      3.0    11.30  No Value
1      0.0    12.50  No Value
2      7.0     0.40    Python
3      8.0     0.77  No Value
4      0.0     9.40        AI