In [1]:
import pandas as pd
import numpy as np

## Defining DataFrame

In [2]:
mydict = {
    "column1": [3, 4, 7, 8,  1],
    "column2": [11.3, 12.5, 0.4, 0.77, 9.4],
    "column3": [np.nan, np.nan, "Python", np.nan, "AI"],   
}

df = pd.DataFrame(mydict)
df

   column1  column2 column3
0        3    11.30     NaN
1        4    12.50     NaN
2        7     0.40  Python
3        8     0.77     NaN
4        1     9.40      AI

## Removing rows with missing values in column3

In [3]:
df = df.dropna(subset=["column3"])
df

   column1  column2 column3
2        7      0.4  Python
4        1      9.4      AI